@import "attributes/reset";
@import "attributes/fonts";
@import "attributes/variables";
@import "attributes/mixins";
@import "attributes/global";

// global class for about-us
.title{
    color:black;
    font-weight: bold;
    font-size: $LFont;
}
.text{
    color:black;
    font-size: 20px;
}
.button{
    a{
        display: block;
        width: 190px;
        background: $footerBackground;
        padding: 6px 35px;
        color: #fff;
        border-radius: 12px;
        border: none;
        font-size: 14px;
    }
}




.search{
    background: $footerBackground;
    padding: 8px 0;
    &__input{
        width: 550px;
        position: relative;
        margin: 0 auto;
        img{
            position: absolute;
            top:50%;
            left:30px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        input{
            width: 100%;
            padding: 13px 50px 13px 83px;
            border: none;
            border-radius: 12px;
            background-color: $mainBackground;
            font-size: 14px;
            background: #fff;
        }
    }
}
.about-us{
    background-color: #F5F5F5;
    &__inner{
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
    }
    &__left{
        margin-top: 50px;
        width: 734px;
        line-height: 30px;
        &__text{
            margin: 35px 0;
        }
        &__button{
            margin-top: 20px;
        }
    }
    &__right{
        &__img{
            margin-top: 50px;
            .img{
                width: 339px;
                height: 200px;
                background: $shadow;
            }
        }
    }
}
.targets{
    margin-top: 60px;
    background-color: #F5F5F5;
    &__inner{
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__right{
        width: 734px;
        line-height: 30px;
        &__title{
            padding: 0;
        }
        &__text{
            margin: 35px 0;
        }
        &__button{
            margin-top: 20px;
        }
    }
}

