@mixin AboutSectionInner {
    margin-top: 60px;
    background-color: #F5F5F5;
    &__inner{
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}