@mixin AboutSectionInner {
    margin-top: 60px;
    background-color: #F5F5F5;
    &__inner{
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width:960px) {
            flex-direction: column;
            padding: 0;
        }
    }
}
@mixin PurpleButton {
    display: block;
        background: $footerBackground;
        padding: 12px 50px;
        border-radius: 12px;
        border: none;
        font-size: 14px;
        a{
            color: #fff;
            font-family: 'FiraGO', sans-serif;
        }
}
@mixin add-wordInputIcon{
    div{
        position: relative;
        img{
            position: absolute;
            top:65%;
            left:17px;
            transform: translateY(-65%);
            cursor: pointer;
            @media (max-width: 960px) {
                width: 15px;
                left:10px;
            }
        }
        input{
            padding-left: 50px;
            font-family: 'FiraGO', sans-serif;
            @media (max-width: 960px) {
                padding-left: 35px;
            }
        }
    }
}
@mixin swiper-button-after{
    &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
    }
}
@mixin more-button{
            font-size:$SFont;
            font-style: italic;
            @media (max-width:960px) {
                font-size: 14px;
                font-style: normal;
                text-decoration: underline;
            }
            @media (max-width:476px) {
                font-size: 10px;
            }
            a{
                position: relative;
                float:right;
                @media (max-width:960px) {
                    float:left;
                }
                &::after{
                    content:' ';
                    display: block;
                    background: url("../images/icons/arrowright.svg") no-repeat;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    position: absolute;
                    top: -4.1px;
                    left:90px;
                    @media (max-width:560px) {
                        top: -3.9px;
                        left: 90px;
                    }
                    @media (max-width:476px) {
                        top: -6.2px;
                        left: 52px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
}
@mixin button-responsive{
    margin-top: 20px;
            button{
                @media (max-width:960px) {
                    font-size: 10px;
                    padding: 10px 20px;
                    margin: 15px auto;
                }
                @media (max-width:476px) {
                    padding: 8px 18px;
                    font-size: 9px;
                }
            }
}