@mixin AboutSectionInner {
    margin-top: 60px;
    background-color: #F5F5F5;
    &__inner{
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@mixin PurpleButton {
    display: block;
        background: $footerBackground;
        padding: 12px 30px;
        border-radius: 12px;
        border: none;
        font-size: 14px;
        a{
            color: #fff;
        }
}
@mixin add-wordInputIcon{
    div{
        position: relative;
        img{
            position: absolute;
            top:65%;
            left:17px;
            transform: translateY(-65%);
            cursor: pointer;
            @media (max-width: 960px) {
                width: 15px;
                left:10px;
            }
        }
        input{
            padding-left: 50px;
            @media (max-width: 960px) {
                padding-left: 35px;
            }
        }
    }
}
@mixin swiper-button-after{
    &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
    }
}