// colors
$footerBackground:#A29DC2;
$background:#DEDBEE;
$shadow:#CFCBCB;
$black:#000000;
$mainBackground:#F8F8FC;
$labelColor:#393939;

// fonts
$XLFont:26px;
$LFont:24px;
$MFont:18px;
$SFont:16px;

// border-radius
$border-radius:24px;